{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook - {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    {% if comments|length > 0 %}
        <div>There are {{ comments|length }} comments.</div>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"  alt="{{ conference }} comment photo" style="max-width: 200px"/>
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        <div class="navigation">
            {% for page in 1..pagesCount %}
                <a href="{{ path('conference', {'id': conference.id, 'offset': (page - 1) * constant('App\\Repository\\CommentRepository::PAGINATOR_PER_PAGE')}) }}">{{ page }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}
{% endblock %}